.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px 20px;
  padding: 10px;
}

a {
  text-decoration: none;
}
.c-card {
  $self: &;
  background-color: #D4370B;
  position: relative;

  &::after {
    border: 20px solid #000;
  }

  &--full {
    height: 220px;

    #{$self}__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      background: linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.2));

      box-sizing: border-box;
      padding: 25px;
    }

    #{$self}__title {
      color: white;
      font-size: 24px;
    }

    #{$self}__image-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        transition: 0.25s ease-in;
        object-fit: cover; 
      }
    }
    
    &:focus, &:hover {
      #{$self}__image-container {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
  
  &--link {
    width: 440px;
    max-height: 110px;
    overflow: hidden;
    padding: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 120px 1fr 60px;
    
    #{$self}__inner {
      padding: 10px;
      overflow: hidden;
      
      #{$self}__title {
        color: #161616;
        font-size: 24px;
        font-weight: 600;
      }
      #{$self}__subtitle {
        color: #3e3e3e;
        font-size: 18px;
        font-weight: 400;
      }
    }

    #{$self}__highlight  {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      color: #D4370B;
      font-weight: 600;
      font-size: 32px;
    }
    
    #{$self}__image-container {
      height: 100%;
      overflow: hidden;
      
      img {
        width: 100%;
        height: 100%;
        transition: 0.25s ease-in;
        object-fit: cover; 
      }
    }
  }
}